*       { margin: 0; padding: 0; box-sizing: border-box; }
html    { height: 100%; font-size: 62.5%; }
body    { font-family: 'Karla', sans-serif; background-color: var(--Light_Gray); }
h1      { color: var(--Cyan); letter-spacing: 0.1rem; margin-bottom: 1.5rem; }
h3      { font-size: 1.3rem; }
p       { font-size: 1.2rem; }

:root {
    --Cyan: hsl(179, 62%, 43%);
    --Bright_Yellow: hsl(71, 73%, 54%);
    --Light_Gray: hsl(204, 43%, 93%);
    --Grayish_Blue: hsl(218, 22%, 67%);
}


/* ---- CONTAINER ----- */
.container {
    display: grid;
    width: 35%;
    margin: 10rem auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.77fr 1fr;
}


/* ---- TOP ----- */
.container-top {
    grid-row: 1;
    grid-column: 1/3;
    background-color: white;
    padding: 2rem;
}
.container-top .community-days {
    color: var(--Bright_Yellow);
    margin: 1rem auto;
}
.container-top .community-paragraph {
    color: #b8bcc2;
    font-size: 1.2rem;
    line-height: 2.2rem;
}


/* ---- LEFT ----- */
.container-left {
    display: grid;
    grid-template-rows: 1fr 1.3fr 1fr 1fr;
    grid-template-columns: 1fr;
    background-color: var(--Cyan);
    padding: 2.5rem;
}
.container-left .title {
    margin: 1rem 0;
    color: white;
    letter-spacing: 0.1rem;
}
.container-left .money-month {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.container-left .money-month .money-number {
    display: inline-block;
    color: white;
    font-size: 2.8rem;
}
.container-left p {
    color: white;
}
.container-left button {
    background-color: var(--Bright_Yellow);
    border: 1px solid var(--Bright_Yellow);
    border-radius: 5px;
    color: white;
    box-shadow: 0 1px 8px grey;
}


/* ---- RIGHT ----- */
.container-right {
    background-color: #4abebd;
    padding: 2.5rem;
}
.container-right .title {
    margin: 1rem 0 1.5rem 0;
    color: white;
    letter-spacing: 0.1rem;
}
.container-right p {
    color: white;
    line-height: 1.6rem;
    font-size: 1.1rem;
}


/* ---- RESPONSIVE ----- */
@media screen and (max-width: 1160px){
    .container {
        grid-template-rows: 0.67fr 1fr;
    }
    .container-left .money-month {
        grid-template-columns: 0.8fr 1fr;
    }
}

@media (max-width: 1040px){
    .container {
        grid-template-rows: 0.77fr 1fr;
    }
}

@media (max-width: 920px){
    .container {
        grid-template-rows: 1.1fr 1fr;
    }

    .container-lefT .money-month {
        grid-template-columns: 0.5fr 1fr;
    }
    .container-left {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .container-right {
        grid-column: 1/3;
        grid-row: 3/4;
    }
}

@media (max-width: 710px){
    .container {
        width: 50%;
        margin: 5rem auto;
    }
}

@media (max-width: 500px){
    .container {
        width: 75%;
    }
    .container-right {
        margin-bottom: 60px;
    }
}